<link rel="stylesheet" type="text/css" media="screen" href="https://bootswatch.com/4/lux/bootstrap.min.css" />

<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/dashboard"><%= name %>'s DASHBOARD</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/dashboard">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/inventory">Inventory</a>
            <a class="nav-item nav-link" href="/show-report">Show Report</a>
            <a class="nav-item nav-link" href="/join-room">Join A Room</a>
            <a class="nav-item nav-link" href="users/logout">Logout</a>
          </div>
        </div>
    </nav>